NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=Votre_clé_publiable_Clerk_ici
CLERK_SECRET_KEY=Votre_clé_secrète_Clerk_ici

STRIPE_SECRET_KEY=Votre_clé_secrète_Stripe_ici
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=Votre_clé_publiable_Stripe_ici

STRIPE_WEBHOOK_SECRET=Votre_clé_webhook_Stripe_ici